[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
tabulate = "*"
python-dateutil = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
tracker = "python tracker.py"
add-expense = "python tracker.py add"
list-expenses = "python tracker.py list"
summary = "python tracker.py summary"
search = "python tracker.py search"
seed-db = "python seed.py"
